* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

hr {
    border: 0.8px solid rgb(211, 211, 211);
}

p {
    font-size: 1.1rem;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}

.logo {
    width: 150px;
    margin: 5%;
}

.navbar-collapse {
    margin-left: 40px;
}

.nav-item {
    font-size: 1.15rem;
    margin-right: 10px;
}

.hero {
    background-image: url('images/hero.png'); 
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.container {
    border-radius: 5px;
    padding: 5%;
}

.dropdown-menu a:hover {
    background-color: rgb(223, 223, 223);
}

.container {
    padding: 10px;
}

figure {
    margin: 16px 40px;
}

.about-section {
    background-color: rgb(243, 243, 243);
}

.about-div {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
}

.potoaboutwrap {
    margin-left: 80px;
}

/* Leaderboard */

.leaderboard-title h4 {
    margin-top: 10px;
    text-align: center;
}

.leaderboard {
    width: 420px;
    background-color: rgb(228, 228, 228);
    padding: 3%;
    
}

.list-item {
    margin: 10px 0;
    width: 100%;
    background-color: #494949;
}

.list-item:hover {
    background-color: #2c2c2c;
}

.list-item div {
    display: inline-block;
}

.leader-name {
    width: 70%;
    padding: 5px;
    color: white;
    padding-left: 20px;
}

.leader-score {
    width: 15%;
    padding: 5px;
    margin-left: 5%;
    color: white;
}

.leader-score p {
    margin: auto;
    text-align: center;
}

/* Event Showcase */

.event-holder {
    width: 410px;
    background-color: white;
    padding: 30px;
    filter: drop-shadow(30px 20px 4px #c5c5c5);
}

.event-image {
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    border: 2px rgb(201, 201, 201) solid;
}

.event-details {
    width: 100%;
    background-color: white;
    padding-top: 20px;
    justify-content: center;
    display:flex;
    font-family: 'Handlee', cursive;
    color: black;
}

.event-details:hover {
    color:#464646;
}

.event-details h4 {
    text-align: center;
}

/* About banner */

.about2-section {
    width: 100%;
    background-color: #0e6bb6;
    padding: 5%;
    display: flex;
}

.info-div h1 {
    color: #a2c976;
}

.info-div p {
    font-size: 1.3rem;
    margin: 20px;
    color: white;
}

.conference-photo {
    width: 480px;
    height: 330px;
    margin-left: 5%;
    border-radius: 20px;
}

/* Sponsor section */

.sponsor-title {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 30px;
    
}

.sponsor-title h1 {
    text-align: center;
}

.sponsor-section {
    width: 100%;
    height: 300px;
    display: flex;
}

.carousel-div {
    width: 60%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    padding: 3%;
}

.carousel-img {
    margin: auto;
    height: 200px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.sponsor-info-div {
    width: 40%;
    background-color: #494949;
    padding: 4%;
    color: white;
}

.sponsor-info-div p, .sponsor-info-div a {
    font-size: 1.2rem;
}

/* Contact section */

.contact-section {
    width: 100%;
    height: 300px;
    background-color: rgb(243, 243, 243);
    padding: 0;
    display: flex;
}

.signup-div {
    width: 65%;
    padding: 5%;
}

.newsletter .content {
    max-width: 650px;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #252525;
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #464646;
    color: #fff;
    font-weight: 600;
}

/* Footer */

footer {
    width: 100%;
    color: #2e87cf;
    background-color: #243c4f;
    align-items: center;
    text-align: center;
    padding: 20px;
}

footer a{
    font-size: 50px;
    margin: 0 5px;
    color: #98c95f;
}

footer a:hover {
    color: #d3d3d3;
}

.icon {
    width: 50px;
    height: 50px;
}

footer a img {
    width: 200px;
}


/* Executive Board Page */

.exec-hero {
    width: 100%;
    height: 200px;
    background-color: #2d4f78;
    align-items: center;
    display: flex;
    padding: 5%;
}

.exec-hero h1 {
    color: #90dfa5;
    font-size: 3rem;
}

.exec-page {
    background-color: #f1f1f1;
}

.team-card {
    margin-bottom: 5%;
}

.ourTeam-box {
    border-radius: 2px;
    border-top: 6px solid #424665;
    margin: 0px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    color: #424665;
    line-height: 1;
}

.exec-alt-border {
    border-top: 6px solid #90DFAA;
}

.section1 {
    padding: 30px 0px 30px 0px;
}

.section1 img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
}

.section2 h5 {
    color: #5c5f73;
}

.section2 p {
    font-size: 1rem;
    color: gray;
}

.section2 a {
    line-height: 1;
}

.section3 {
    background-color: #424665;
    height: 20px;
}

.section3-alt {
    background-color: #90DFAA;
}

.exec-icon {
    color: black;
    font-size: 1.5rem;
}